# Ignore node_modules folder
node_modules/

# Ignore log files
*.log

# Ignore environment variable files
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore deployment files
*.sh

/.vscode
vite.config.js
