.menu-container {
    width: 20rem;
    height: 100vh;
    background-color: #1A5319;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
}

.menu-container-scroll {
    flex-grow: 1;
    overflow-y: auto;
}

.menu-container-scroll::-webkit-scrollbar {
    display: none;
}

@media (max-width: 768px) {
    .menu-container {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .menu-container {
        display: none;
    }
}

@media (min-width: 1024px) {
    .menu-container {
        display: flex;
    }
}