<!DOCTYPE html>
<html>

<head></head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>



<body>
    <div><span>John Does</span></div>
    <header>
        <nav>
            <ul>
                <li>Home</li>
                <li>Profile</li>
                <li>About</li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Taylor Mini Acoustic Guitar</h1>
        <div>
            <img src="../../Assets/TaylorGuitar.jpg" alt="A Taylor Mini Guitar" width="350" height="350">
            <p><strong>Vendor:</strong> Scott Industries</p>
            <p><strong>Price:</strong> $500.00</p>
            <!--Websocket inventory update-->
            <p><strong>Stock:</strong> 1</p>
            <p>A used Taylor Mini Acoustic Guitar w/ strap.</p>
            <p><strong>Category:</strong> Toys</p>

            <button type="button">Add to cart</button>
        </div>
    </main>


    <footer>
        <ul>
            <li>Henri</li>
        </ul>
    </footer>
</body>

</html>