<!DOCTYPE html>
<html>

<head></head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Profile</title>
</head>



<body>
    <div><span>John Does</span></div>
    <header>
        <nav>
            <ul>
                <li>Home</li>
                <li>Profile</li>
                <li>About</li>
            </ul>
        </nav>
    </header>
    <main>
        <h3>Profile</h3>
        <h1>JohnDoe1</h1>
        <div>
            <p><strong>Username:</strong> JohnDoe1</p>
            <p><strong>Email:</strong> JohnDoe@example.com</p>
            <p><strong>First Name:</strong> John</p>
            <p><strong>Last Name:</strong> Doe</p>
        </div>
    </main>

    <footer>
        <ul>
            <li>Henri</li>
        </ul>
    </footer>
</body>

</html>