.chat-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1A5319;
    color: #D6EFD8;
    padding: 0;
    font-size: 1.5em;
    height: 10vh;
    position: relative;
}

.header-button {
    background-color: #1A5319;
    color: #fff;
    border: none;
    border-radius: 16px;
    padding: 0.30em;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

#chat-header-henri {
    margin: 0;
    position: relative;
    left: 20px;
}

#chat-header-henri:hover {
    background-color: #508D4E;
}

#chat-header-profile {
    
}

#chat-header-profile:hover {
    background-color: #508D4E;
}

#chat-header-login {
    background-color: #D6EFD8;
    color: #1A5319;
    font-size: 0.75em;
    border: 1px solid #D6EFD8;
}

#chat-header-login:hover {
    background-color: #508D4E;
    border-color: #508D4E;
}

#chat-header-signup {
    background-color: #1A5319;
    color: #D6EFD8;
    font-size: 0.70em;
    font-weight: 550;
    border: 2px solid #1A5319;
}

#chat-header-signup:hover {
    background-color: #508D4E;
    color: #fff;
    border-color: #508D4E;
}