.menu-container {
    width: 20rem;
    height: 100vh;
    background-color: #1A5319;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
}

.menu-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #D6EFD8;
    padding: 0;
    height: 3.5rem;
}

.menu-nav a {
    background-color: #1A5319;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 0.3rem;
}

.menu-nav button {
    background-color: #1A5319;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 0.3rem;
    margin-left: 1rem;
}

.menu-nav-button {
    font-size: 2.5rem;
}

.menu-nav a:hover, .menu-nav button:hover {
    background-color: #508D4E;
}

.menu-container-scroll {
    flex-grow: 1;
    overflow-y: auto;
}

.menu-container-scroll::-webkit-scrollbar {
    display: none;
}

.menu-top {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

/* placeholder */
.menu-top div {
    height: 10rem;
}

.menu-button {
    background-color: #1A5319;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.menu-button:hover {
    background-color: #508D4E;
}


.menu-bottom h1, h2, h3, h4, h5, h6 {
    padding-left: 1rem;
}


.conversation-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.conversation-list a {
    display: block;
    padding: 1rem;
}

#toggleMenuOpen {
    display: flex;
}

#toggleMenuClose {
    display: flex;
}

#menuClosedNewChat {
    display: flex;
}

#menuOpenNewChat {
    display: flex;
}

@media (max-width: 768px) {
    .menu-container {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .menu-container {
        display: none;
    }
}

@media (min-width: 1024px) {
    .menu-container {
        display: flex;
    }

    #toggleMenuOpen {
        display: none;
    }

    #toggleMenuClose {
        display: flex;
    }

    #menuClosedNewChat {
        display: none;
    }
}

