.menu-container {
    width: 20vw;
    height: 100vh;
    background-color: #1A5319;
    color: #fff;
    display: flex;
    flex-direction: column;

}

.menu-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1A5319;
    color: #D6EFD8;
    padding: 0;
    font-size: 1.5em;
    height: 10vh;
    background-color: #1A5319;
}

.menu-nav a {
    background-color: #1A5319;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 5%;
}

.menu-nav a:hover {
    background-color: #508D4E;
}

.menu-top {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

/* placeholder */
.menu-top div {
    height: 20vh;
}

.menu-button {
    background-color: #1A5319;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.menu-button:hover {
    background-color: #508D4E;
}

.menu-bottom {
    overflow-y: auto;
}

.menu-bottom h1, h2, h3, h4, h5, h6 {
    padding-left: 5%;
}

.conversation-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.conversation-list a {
    display: block;
    padding: 5%;
}
@media (max-width: 768px) {
    .menu-container {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .menu-container {
        display: none;
    }

    #toggleMenuOpen {
        display: block;
    }

    #toggleMenuClose {
        display: none;
    }

}

@media (min-width: 1024px) {
    .menu-container {
        display: block;
    }

    #toggleMenuOpen {
        display: none;
    }

    #toggleMenuClose {
        display: block;
    }

    #menuClosedNewChat {
        display: none;
    }
}

